@page "/AddEmployee"
@using BlazorWebAssembly_Crud.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h2 style="color:darkcyan">ADD EMPLOYEE</h2>
<EditForm Model="@Emp" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
          <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="Emp.EmpName" />
                        </div>
                        <ValidationMessage For="@(() => Emp.EmpName)" />
                    </div>
                </td>
                <td>
                      <div class="mb-3">
                        <label for="Address" class="form-label">LastName</label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="Emp.EmpLastName" />
                        </div>
                        <ValidationMessage For="@(() => Emp.EmpLastName)" />
                      </div>
                </td>
            </tr>
            <tr>
                <td>
                   <div class="mb-3">
                            <label for="Cellnumber" class="form-label">Team</label>
                            <div class="col-md-4">
                                <InputText class="form-control" @bind-Value="Emp.Team" />
                            </div>
                            <ValidationMessage For="@(() => Emp.Team)" />
                   </div>
                </td>
                <td>
                    <div class="mb-3">
                        <label for="Emailid" class="form-label">E-mail</label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="Emp.Gmail" />
                        </div>
                        <ValidationMessage For="@(() => Emp.Gmail)" />
                    </div>
               </td>
               
            </tr>
            <tr>
               <td>
                    <div class="mb-3">
                        <label for="Emailid" class="form-label">Project</label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="Emp.AssignProject" />
                        </div>
                        <ValidationMessage For="@(() => Emp.AssignProject)" />
                    </div>
               </td>
                <td>
                     <div class="mb-3">
                        <label for="Emailid" class="form-label">Project Remark</label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="Emp.ProjectRemark" />
                        </div>
                        <ValidationMessage For="@(() => Emp.ProjectRemark)" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mb-3">
                        <label for="Emailid" class="form-label">Project Status</label>
                        <div class="col-md-4">
                            <InputText class="form-control" @bind-Value="Emp.ProjectStatus" />
                        </div>
                        <ValidationMessage For="@(() => Emp.ProjectStatus)" />
                    </div>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
     <div class="form-group">
         <button type="submit" class="btn btn-primary">Save</button>
         <button class="btn btn-light" @onclick="Cancel">Cancel</button>
     </div>
   </div>
@*
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Emp.EmpName" />
        </div>
        <ValidationMessage For="@(() => Emp.EmpName)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">LastName</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Emp.EmpLastName" />
        </div>
        <ValidationMessage For="@(() => Emp.EmpLastName)" />
    </div>
    <div class="mb-3">
        <label for="Cellnumber" class="form-label">Team</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Emp.Team" />
        </div>
        <ValidationMessage For="@(() => Emp.Team)" />
    </div>
    <div class="mb-3">
        <label for="Emailid" class="form-label">E-mail</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Emp.Gmail" />
        </div>
        <ValidationMessage For="@(() => Emp.Gmail)" />
    </div>
     <div class="mb-3">
        <label for="Emailid" class="form-label">Project</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Emp.AssignProject" />
        </div>
        <ValidationMessage For="@(() => Emp.AssignProject)" />
    </div>
     <div class="mb-3">
        <label for="Emailid" class="form-label">Project Remark</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Emp.ProjectRemark" />
        </div>
        <ValidationMessage For="@(() => Emp.ProjectRemark)" />
    </div>
     <div class="mb-3">
        <label for="Emailid" class="form-label">Project Status</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Emp.ProjectStatus" />
        </div>
        <ValidationMessage For="@(() => Emp.ProjectStatus)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>*@
</EditForm>

@code {
    Employee Emp = new Employee();
    private async void HandleValidSubmit()
    {
        await Http.PostAsJsonAsync("EmployeeMange", Emp);
        NavigationManager.NavigateTo("Emp");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("Emp");
    }
}
