@page "/delete/{EmpId:int}"
@inject HttpClient Http
@using BlazorWebAssembly_Crud.Shared.Models
@inject NavigationManager NavigationManager
<br />
<div class="form-group">
    <h4>Do you want to delete this Employee?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@Emp.EmpName</td>
            </tr>
            <tr>
                <td>LastName</td>
                <td>@Emp.EmpLastName</td>
            </tr>
            <tr>
                <td>Gmail</td>
                <td>@Emp.Gmail</td>
            </tr>
            <tr>
                <td>Project</td>
                <td>@Emp.AssignProject</td>
            </tr>
            <tr>
                <td>Project Status</td>
                <td>@Emp.ProjectStatus</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" @onclick="(async () => await RemoveUser(Emp.EmpId))" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>
@code {
    [Parameter]
    public int EmpId { get; set; }
    Employee Emp = new Employee();
    protected override async Task OnInitializedAsync()
    {
        Emp = await Http.GetFromJsonAsync<Employee>("EmployeeMange/" + Convert.ToInt32(EmpId));
    }
    protected async Task RemoveUser(int userID)
    {
        await Http.DeleteAsync("EmployeeMange/" + userID);
        NavigationManager.NavigateTo("Emp");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Emp");
    }
}